
/* ==========================================================================
   #GRID
   ========================================================================== */


/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
  font-family: inherit;
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
.page-wrapper {
  min-height: 100vh;
}

body {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn-submit {
  display: inline-block;
  line-height: 40px;
  font-family: inherit;
  background: rgb(252,78,130);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  font-size: 13px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 0 0px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 11%);
  width: 75px;
}

.btn-submit:hover {
  background: rgba(212, 53, 132);
}


.m-t-0 {
  margin-top: 0;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-35 {
  margin-top: 35px;
}

/* ==========================================================================
   #DATEPICKER
   ========================================================================== */
.daterangepicker {
  display: none;
  width: 560px;
  
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  
  padding: 0;
  margin-top: 27px;
  margin-left: -160px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}


.daterangepicker:before {
  display: none;
}

.daterangepicker:after {

  border-right: 13px solid transparent;
  border-bottom: 13px solid #fff;
  border-left: 13px solid transparent;
}

.daterangepicker.opensright:after {
  left: 0px;
}

.daterangepicker .calendar {
  margin: 0;
  width: 270px;
  max-width: 270px;
  padding: 30px;
  padding-bottom: 25px;
}

.daterangepicker .calendar th {
  font-size: 14px;
  color: #555;
  cursor: default;
  font-weight: 700;
}

.daterangepicker .calendar th.month {
  font-size: 10px;
  color: #555;
  font-weight: 700;
}

.daterangepicker .calendar th.next, .daterangepicker .calendar th.prev {
  font-size: 14px;
  color: #ccc;
  text-align: center;
}

.daterangepicker .calendar.left {
  border-right: 1px solid #e5e5e5;
}

.daterangepicker .calendar.right {
  float: right;
}

.daterangepicker .calendar-table {
  padding: 0;
}

.daterangepicker .calendar-table .table-condensed thead tr:nth-child(2) th {
  padding-top: 27px;
  padding-bottom: 17px;
}

.daterangepicker.ltr .calendar.left .calendar-table {
  padding: 0;
}

.daterangepicker_input {
  display: none;
}

.daterangepicker td {
  height: 26px;
  width: 26px;
  min-width: 26px;
  min-width: 26px;
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 10px;
  color: #999;
}


.daterangepicker td.start-date, .daterangepicker td.end-date {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #00ad5f;
}

.daterangepicker td.start-date.end-date {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.daterangepicker td.in-range {
  background: #eee;
  color: rgb(252,75,128);
}

.daterangepicker td.in-range.end-date {
  color: #fff;
}

.daterangepicker td.today {
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  background: #eee;
  color: rgb(252,75,128);
}

.daterangepicker td.today.in-range {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  background: #eeeeee;
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
  background: transparent;
}

.daterangepicker select {
  outline: none;
  font-family: inherit;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 10px;
  padding: 8px 4px;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background: rgb(252,75,128);
}

.daterangepicker td.active.today,
.daterangepicker td.active:hover.today {
  background: #eee;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
input,
textarea {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%; 
  font-size: 18px;
  font-family: inherit;
}
.input_0,
textarea_0 {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  font-size: 18px;
  font-family: inherit;
}

input:disabled {
  cursor: pointer;
  background: transparent;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

/* CHECKBOX */
/* Radio button */
.radio-row {
  padding-top: 10px;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.radio-container:hover input ~ .radio-checkmark {
  background-color: #fff;
}

.radio-container input:checked ~ .radio-checkmark {
  background-color: #fff;
}

.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

.radio-container .radio-checkmark:after {
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #00ad5f;
}

.input-group {
  position: relative;
  margin-bottom: 23px;
  -webkit-box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 11%);
  -moz-box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 11%);
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 11%);
  padding: 0px 0px;
  padding-bottom: 10px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}

.form::after {
  content: "";
  clear: both;
  display: table;
}

.input-icon {
  font-size: 24px;
  color: #808080;
  position: absolute;
  line-height: 60px;
  right: 20px;
  top: 0;
  width: 20px;
  background: #fff;
  text-align: center;
  cursor: pointer;
}

.input-icon::before {
  display: block;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.label {
  font-size: 8px;
  color: #999;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
}

.input--large {
  width: 100px;
}

.input--medium {
  width: 100px;
}
.input--small {
  width:80px;
}

.input--style-1 {
	width:80px;
	margin-left:2px;
	text-align:center;
  font-size: 12px;
  padding: 0px 0px;
  color: #666;
  font-family: inherit;
}

/* ==========================================================================
   #SELECT
   ========================================================================== */
.quantity {
    font-size: 12px;
  padding: 0px 5px;
  color: #666;
  font-family: inherit;
}

.icon-con {
  position: absolute;
  width: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 4px;
  overflow: hidden;
  background: #f2f2f2;
  right: 1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.minus,
.plus {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 16px;
  color: #b2b2b2;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.minus:hover,
.plus:hover {
  background: #2c6ed5;
  color: #fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
